@media(max-width: 375px){

    body{
        background-image: url(./huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg);
    }

    section img{
        width: 75%;
        position: absolute;
        margin: 5% 15%;
    }

    .logo img{
        width: 50%;
        margin-left: 23%;
    }

    main{
        margin-left: 10%;
        width: 80%;
        text-align: center;
        margin-top: 65%;
    }

    .container h1{
        font-size: 23px;
    }

    .container p{
        font-size: 13px;
    }

    .container bottom{
        font-size: 10px;
        border-radius: 30%;
    }

    footer .sociais{
        font-size: 100%;
        margin-right: 15%;
    }
}
